<!DOCTYPE html>
<html lang="es">
      <!--header-->
  <%- include('partials/head') %> 

  <body>

         <!--header-->
     <%- include('partials/header') %>

     <!--SECCION MAS VENDIDOS-->
    <section class="banner">
      <img src="images/baner-equim.jpg " width="100%" height="100%" alt=" " />
    </section>

    <!--SECCION MAS VENDIDOS-->
    <section class="container py-5">
      <div class="row productos">
        <div class="col-12">
          <h2>
            Productos Destacados
          </h2>
        </div>
        <% productos.forEach(producto =>{ %> 
        <div class="col-12 col-md-6 col-lg-3">
          <div class="contenido">
            <div class="imagen-prod">
            <a href="/products/productDetail/<%- producto.id %> ">
              <img
                src="images/<%= producto.imagen %>  "
                alt=""
              />
            </a>
          </div>
            <article>
              <h3>$ <%= producto.precio %> </h3>
              <p> <%= producto.nombre %> </p>
              <% if ( typeof locals.user == "undefined" || locals.user.rol == "user") { %>
              <a href=""
                ><i
                  class="fa fa-shopping-cart"
                  style="color: #00afef;"
                  aria-hidden="true"
                ></i>
              </a>
              <% } else  { %>

                <div class="botones">
                  <form action="/products/delete/<%= producto.id %>?_method=DELETE" method="POST">
                    <button type="submit" class="btn btn-danger eliminar">Eliminar</button>
                   </form>
                    <a href="/products/show/<%- producto.id %> ">Editar</a>
                </div>
                
                <% } %>  
            </article>
          </div>
        </div>
        
      <% }) %> 
        
      </div>
    </section>
    <!--SECCION OFERTAS-->
    <section class="container py-5">
      <div class="row productos">
        <div class="col-12">
          <h2>
            Productos Mas Vendidos
          </h2>
        </div>
        <% productos.forEach(producto =>{ %> 
          <div class="col-12 col-md-6 col-lg-3 ">
            <div class="contenido">
              <div class="imagen-prod">
              <img
                src="images/<%= producto.imagen %>  "
                alt=""
                "
              />
            </div>
              <article >
                <h3>$ <%= producto.precio %> </h3>
                <p> <%= producto.nombre %> </p>
                <a href="/"
                  ><i
                    class="fa fa-shopping-cart"
                    style="color: #00afef;"
                    aria-hidden="true"
                  ></i>
                </a>
              </article>
            </div>
          </div>
          
        <% }) %> 
           
        
        
      </div>
    </section>

       <!----Footer-->
    <%- include('partials/footer') %>

  </body>
</html>
