<!DOCTYPE html>
<html lang="es">

<%- include('partials/head') %> 

<body>

<%- include('partials/header') %> 



  <!--DETALLE DEL PRODUCTO-->
  <!--titulo-->
  <section class="container-fluid productDetail">
    <div class="row">
      <div class="col-12 col-md-12">
        <h2>Detalle del producto</h2>
      </div>
    </div>
    <!--imagen del producto-->
    <div class="row">
      <div class="col-12 col-md-8 col-lg-6 ">

        <div class="imgContainer">
          <img src="/images/<%- producto.imagen%>" width="100%" height="100%" alt=" " >
        </div>
      </div>
     <div class="col-12 col-md-12 col-lg-6 detalles">
        <div class="col-12">
          <p>
            <%= producto.nombre%>
          </p>
        </div>
        <div class="col-12">
          <p> $ <%= producto.precio%></p>
        </div>
        <!--descripcion del producto-->
        <div class="row">
          <div class="col-12">
            <h3>Descripcion del Producto</h3>
            <p>
              <%= producto.descripcion%>
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-12 btn">
            <button type="submit">Agregar al Carrito</button>
          </div>
        </div>
     </div>
    </div>
    <!--buttons-->
    
    
  
  </section>


<%- include('partials/footer') %> 

</body>

</html>