<!DOCTYPE html>
<html lang="es">

<%- include('partials/head') %> 
<body>
  <!--EMPIEZA EL HEADER-->

<%- include('partials/header') %> 

  <!--EMPIEZA EL FORMULARIO DE CARGA DE PRODUCTOS-->
  <section class="container-fluid">
    <div class="row">
      <div class="col-12">
        <h2>Nuevo producto</h2>
      </div>
      <div class="col-12">
        <article>
          <form class="col-12 col-md-12" action="/products/agregarProducto" method="POST" enctype="multipart/form-data">
           <div class="container">
             <div class="row">
            <div class= "form-group col-md-6">
              <label for="name">Nombre:</label>
              <input  class="form-control" type="text" name="nombre" id="inputNombre">
              <small class="text-danger" id="errorNombre"></small>

            </div>
            <div class= "form-group col-md-6">
              <label for="category">Categoria:</label>
              <select  class="form-control" name="category" id="categorySelect">
                <option hidden selected value="0" >Elija una Categoria</option>
               <% categorias.forEach(categoria => { %>
                <option value="<%= categoria.id %>"<% if(typeof oldAdd != 'undefined' && oldAdd.categoria){%> selected <% } %>><%= categoria.nombre %> </option>
               <% }) %>
            </select>


            </div>
            <div class= "form-group col-md-6">
              <label for="price">Precio:</label>
              <input  class="form-control" type="text" name="precio">
            </div>
            <div class= "form-group col-md-6">
              <label for="decription">Descripcion:</label>
              <textarea  class="form-control" cols="" rows="" name="descripcion" id="inputDescripcion"></textarea>
              <small class="text-danger" id="errorDescripcion"></small>
              
            </div>
            <div class="form-group col-md-6">
                  <small class="text-danger" id="errorImage"></small>  
                  <input  class="form-control" type="file"  id="inputImage" lang="en" name="imagen">
                    
                    <small id="errorImagen" class="text-danger"><%= (typeof errors != 'undefined' && errors.imagen)?errors.imagen.msg: "" %> </small>
                    

                </div>
            <div class= "form-group col-md-6">
              <button class="btn btn-primary" type="submit">AGREGAR NUEVO PRODUCTO</button>
              <button class="btn btn-secondary" type="reset">LIMPIAR CAMPOS</button>
            </div>
          </div>
          </div>
          </form>
        </article>
      </div>
    <!--TERMINA EL FORMULARIO-->
  </section>
  <!--TERMINA EL FORMLARIO DE CARGA DE PRODUCTOS-->

  <!--EMPIEZA EL FOOTER-->
<%- include('partials/footer') %> 
<script src="/javascripts/productAdd.js"></script>
</body>
</html>